body {
   background-color:purple;
}

h1{
   font-family: Inter, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}

h2{
   font-family: Inter, sans-serif;
   padding-top: 45px;
}

h3{
   font-family: Inter, sans-serif;
}

h6{
   font-size:1em;
   font-family: Inter, sans-serif;
}

p{
   font-size: 0.8em;
   font-family: Inter, sans-serif;
}

#top-section
 {
    background-color:rgba(191,191,255,1);
    height: 500px;
    border: 1px solid yellow;
 }

 .book-nav-card{
   padding:20px;
 }


 img {
   height: 200px;
 }

 #main-book-image{
   height:400px;
 }

#books {
   display: flex;
   justify-content: center;
   align-content: space-between
 }

 #bottom-section {
    background-color: Rgba(191,255,191,1);
    display: grid;
    height: 750px;
    grid-template-columns: 1fr 1fr;
    padding-left: 45px;
    border: 4px solid red;

 }

 #main-book-area{
   border: 1px dashed orange;
 }

.comments-area {
   border: 1px dashed blue;
   padding-top: 45px;
   padding-left: 20px;
}
 img {
   height: 200px;
 }
