body {
   background-color:purple;
}

h1{
   font-family: Inter, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}

h2{
   font-family: Inter, sans-serif;
   padding-top: 45px;
}

h3{
   font-family: Inter, sans-serif;
}

#top-section
 {
    background-color:rgba(191,191,255,1);
    height: 500px;
    border: 1px solid yellow;

 }

 #bottom-section
 {
    background-color: Rgba(191,255,191,1);
    height: 750px;
    padding-left: 45px;

 }

 img {
   max-height: 200px;
 }

 #main-book-image{
   max-height:500px;
 }

#books {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }