#top-section
 {
    background-color:rgba(191,191,255,1);
    height: 500px;

 }

 #bottom-section
 {
    background-color: Rgba(191,255,191,1);
    height: 150px:
 }

 img {
   max-height: 200px;
 }

#books {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }